# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/Dance_project/[Ll]ibrary/
/Dance_project/[Tt]emp/
/Dance_project/[Oo]bj/
/Dance_project/[Bb]uild/
/Dance_project/[Bb]uilds/
/Dance_project/[Ll]ogs/
/Dance_project/[Mm]emoryCaptures/
/Dance_project/cudnn_cnn_infer64_8.dll
/Dance_project/cudnn_ops_infer64_8.dll
/Dance_project/cufft64_10.dll
/Dance_project/cublasLt64_11.dll
/Dance_project/onnxruntime_providers_cuda.dll
/Dance_project/dnn_model_2_0_op11.onnx
/Dance_project/cublas64_11.dll


/Dance_project/Assets/Addons/AzureKinect/Plugins/cudnn_cnn_infer64_8.dll
/Dance_project/Assets/Addons/AzureKinect/Plugins/cudnn_ops_infer64_8.dll
/Dance_project/Assets/Addons/AzureKinect/Plugins/cufft64_10.dll
/Dance_project/Assets/Addons/AzureKinect/Plugins/cublasLt64_11.dll
/Dance_project/Assets/Addons/AzureKinect/Plugins/onnxruntime_providers_cuda.dll
/Dance_project/Assets/Addons/AzureKinect/Plugins/dnn_model_2_0_op11.onnx
/Dance_project/Assets/Addons/AzureKinect/Plugins/cublas64_11.dll
/Dance_project/Packages/Microsoft.Azure.Kinect.BodyTracking.1.1.2/content/dnn_model_2_0_op11.onnx
/Dance_project/Packages/Microsoft.Azure.Kinect.BodyTracking.1.1.2/Microsoft.Azure.Kinect.BodyTracking.1.1.2.nupkg
/Dance_project/Packages/Microsoft.Azure.Kinect.BodyTracking.ONNXRuntime.1.10.0/lib/native/amd64/release/onnxruntime_providers_cuda.dll



# Asset meta data should only be ignored when the corresponding asset is also ignored
!/Dance_project/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.dll.meta
*.onnx.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties

